@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu-list {
  list-style-type: none;
  line-height: 1.6em;
  margin-bottom: 0;
}

.list-header {
  margin-bottom: 5px;
}

.HTTP-n-layers-img {
  max-width: 80%;
}

.footer-list {
  list-style-type: none;
}

.topbutton {
  width: 120px;
  background: #e00606;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
  color: rgb(243, 241, 241);
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  }

.dsp-flx {
  display: flex;
}

.jst-cnt-s-b {
  justify-content: space-between;
}

.t-algn-c {
  text-align: center;
}

.m-b-30px {
  margin-bottom: 30px;
}

.m-b-20px {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  line-height: 1.6em;
  font-family: 'Roboto-Bold', sans-serif;
  color: rgba(80, 56, 4, 0.87);
  margin-bottom: 30px;
}

img {
  display: block;
  margin: 30px auto;
}

a {
  text-decoration: none;
  color: rgba(80, 56, 4, 0.87);
  cursor: pointer;
  font-family: 'Roboto-Regular', sans-serif;
}

li {
  margin-left: 15px;
}

ul, ol {
  font-family: 'Roboto-Regular', sans-serif;
  color: rgba(80, 56, 4, 0.87)
}

p {
  line-height: 2em;
  font-family: 'Roboto-Regular', sans-serif;
  color: rgba(80, 56, 4, 0.87);
}

header {
  background-color: antiquewhite;
  padding: 20px;
  margin-bottom: 30px;
}

section {
  padding: 30px;
}

footer {
  background-color: antiquewhite;
  color: rgba(80, 56, 4, 0.87);
  padding: 15px;
  text-align: center;
}

footer a {
  color: rgba(80, 56, 4, 0.87);
}

footer .container {
  display: flex;
  justify-content: space-evenly;
  max-width: 40%;
}
